<% include partials/header %>

<header class="jumbotron">
    <div class = "container">
    <h2><%= donation.name %> </h2>
    <h4><%= donation.category %> </h4>
    <h7> <%= donation.shortDescription %> </h7>
    <p>
    <p><a class = "btn btn-primary btn-large" href="/locationspage/<%=donation.location%>">Go back</a></p>
    </p>
    </div>
</header>


<div class = "container">
    <h3>Quantity: <%= donation.value %> </h3>
    <h3>Full Description: <%= donation.fullDescription %> </h3>
    <h3>Timestamp: <%= donation.timestamp %> </h3>
