<% include partials/header %>

<header class="jumbotron">
    <div class = "container">
    <h3><%= location.name %> </h3>
    <h5><%= location.type %> </h5>
    <h6> <%= location.city %> </h6>
    <p><a class = "btn btn-primary btn-large" href="/locationspage/<%=location.name%>">Go back</a></p>
    <div class = "container">
</header>


<div class = "container">
    <h3>Address: <%= location.streetAddress %>, <%= location.state %> - <%= location.zip %> </h3>
    <h3>Phone number: <%= location.phone %></h3>
    <h3>Website: <a href="https://<%= location.website %>"><%= location.website %></a></h3>
