<% include partials/header %>

<header class="jumbotron">
    <div class = "container">
    <h1>Donation page</h1>
    <h3><%= location.name %> </h3>
    <h6> <%= location.city %> </h6>
    <p><a class = "btn btn-primary btn-large" href="/locationspage/<%=location.name%>/newdonation"> Add donation</a>
    <a class = "btn btn-primary btn-large" href="/locationdetails/<%=location.name%>">Location details</a>
    <a class = "btn btn-primary btn-large" href="/locationspage/">Go back</a></p>
    <div class = "container">
</header>

<div class="container">
<form class="form-signin" method="POST">

    <div class="input-group mb-3">
      <input type="text" class="form-control" name="searchbar" placeholder="Search for an item" aria-label="Search for an item" aria-describedby="button-addon2">
      <div class="input-group-append">
        <button class="btn btn-outline-secondary" type="submit" name="searchButton">Search</button>
      </div>
    </div>
    </form>
</div>
    <div class="list-group">
    <% donations.forEach(function(donation){ %>
    <div class="container">
    <a href="/locationdetails/<%=location.name%>/<%=donation.name%>" class="list-group-item list-group-item-action">
    <h3><%= donation.name %> </h3>
    <h6> <%= donation.category %> </h6>
    <h6> Quantity: <%= donation.value %> </h6>
    </a>
</div>

<% }); %>
</div>
